.akbar{
    width: 100px;
    height: 100px;
    background: green;
    border-radius: 50%;

}
.asgar{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 10px;

}